# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Dd]ebugPublic/
[Rr]eleasePublic/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# .NET Core / .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Environment variables
.env
.env.*

.gitko
